
* {
  box-sizing: border-box;
}
.r-to-l {
  direction: rtl;
}
.l-to-r {
  direction: ltr;
}
.scroll_y {
  overflow-y: scroll;
}
.scroll_x {
  overflow-x: scroll;
  display: flex;
}
.scroll_y::-webkit-scrollbar,
.scroll_x::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}
.scroll_y::-webkit-scrollbar-thumb,
.scroll_x::-webkit-scrollbar-thumb {
  background-color: #6b72805f;
  border-radius: 10px;
}
.box_shadow {
  box-shadow: 0.15em 0.15em 0.04em;
}
@keyframes play_image {
  0% {
    filter: blur(5px);
  }
  50% {
    filter: blur(20px);
  }
  100% {
    filter: blur(5px);
  }
}
.dancing {
  font-family: "Dancing Script", cursive;
}

.play-image {
  animation: 5s play_image ease-in infinite;
}
